{% from "_macros.html" import venue_address, youtube_preview, event_entry %}

<html>
    <head>
        <title>{% block title %}Pyvo – Pravidelné programátorské srazy{% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block styles %}
            <link rel="stylesheet" href="{{ url_for('static', filename='third-party/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css',
                                                    tag=_static_cache_tag) }}">
        {% endblock styles %}
        <!-- For Facebook and Twitter: -->
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ self.title()|trim }}">
        {%- if g.lang_code == 'cs' %}
        <meta property="og:description" content="Pyva jsou setkání příznivců programovacího jazyka Python a spřízněných technologií.">
        {% else %}
        <meta property="og:description" content="Pyvo is a meetups for fans of the Python programming language and related technologies.">
        {% endif -%}
        <meta property="og:url" content="{{ request.url }}">
        <meta property="og:image" content="{{ url_for('static', filename='images/pyvo-social.jpg', _external=True) }}">
        <!-- Additionaly, for Twitter: -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:site" content="@naPyvo">
        <meta property="twitter:creator" content="@naPyvo" />
        <meta name="google-site-verification" content="eHynQ742Rd2HYt3ohM8P47cHUnxLT0Mq5VMv7bXfWSg" />
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
      <!--
        This 'notice' is a temporary thing to advertise something to visitors of the site.
        Once the advertising period is over, it should be commented out. (Probably not worth
        deleting as we may need to advertise something in the future again.)

      {% if g.lang_code == 'cs' %}
      <div class="notice">
          🐍🎪 O víkendu 24.-26.8. proběhne sprint české Python komunity. Je to setkání, kde společně řešíme věci kolem našich aktivit (ať už diskuzí nebo společným kódováním). <a href="http://bit.ly/pysprint">Info v přihlášce</a> (do středy). 🍻🍲☕🎸 Přijeď.
      </div>
      {% endif %}
      -->

        <div class="nav-container">
            <nav class="container">
                <ul>
                    <li class="home">
                        <a href="{{ url_for('index') }}">
                            Pyvo<span>.cz</span>
                        </a>
                    </li>
                </ul>
                {% block breadcrumbs %}{% endblock breadcrumbs %}
                {% if g.lang_code == 'cs' %}
                    <a class="lang_switch" href="{{ url_for_lang('en') }}">🌎 English, please!</a>
                {% else %}
                    <a class="lang_switch" href="{{ url_for_lang('cs') }}">🌍 Česky, prosím!</a>
                {% endif %}
            </nav>
        </div>
        {% block bodycontent %}
        {% endblock bodycontent %}
        <footer class="container">
            {% if g.lang_code == 'cs' %}
                <div>
                    Stránky spravuje spolek <a href="http://pyvec.org">Pyvec, z.s.</a>.
                    E-maily posílejte na <a href="mailto:info&#64;pyvec.org">info&#64;<!---->pyvec.org</a>, tweetujte na <a href="https://twitter.com/napyvo">@napyvo</a>.
                </div>
                <div>
                    Tyhle stránky jsou na <a href="http://github.com/pyvec/pyvo.cz">GitHub</a>u. <i>Pull requesty</i> vítány!
                </div>
                <div>
                    Hostováno u <a href="https://rosti.cz">Roští.cz</a>. Děkujeme!
                </div>
                <div>
                    <a href="{{ url_for('personal_info') }}">
                        Podrobnosti o zpracování osobních údajů
                    </a>
                </div>
            {% else %}
                <div>
                    Managed by <a href="http://pyvec.org">Pyvec, z.s.</a>, a non-profit organization.
                    Send e-mails to <a href="mailto:info&#64;pyvec.org">info&#64;<!---->pyvec.org</a>, tweet to <a href="https://twitter.com/napyvo">@napyvo</a>.
                </div>
                <div>
                    Fork this site on <a href="http://github.com/pyvec/pyvo.cz">GitHub</a>. Pull requests welcome!
                </div>
                <div>
                    Hosted by our friends at <a href="https://rosti.cz">Roští.cz</a>. Thank you!
                </div>
                <div>
                    <a href="{{ url_for('personal_info') }}">
                        Info on handling of personal information
                    </a>
                </div>
            {% endif %}
        </div>
        {% block scripts %}{% endblock %}
    </body>

    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade"></noscript>
</html>
