{% from "_macros.html" import venue_address, youtube_preview %}

<html>
    <head>
        <title>{% block title %}Pyvo – Pravidelné programátorské srazy{% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block styles %}
            <link rel="stylesheet" href="{{ url_for('static', filename='third-party/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% endblock styles %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
      <!--
        This 'notice' is a temporary thing to advertise something to visitors of the site.
        Once the advertising period is over, it should be commented out. (Probably not worth
        deleting as we may need to advertise something in the future again.)
      -->
      {% if g.lang_code == 'cs' %}
      <div class="notice">
          Byl(a) jsi někdy na Python srazu?
          Dej nám prosím <a href="{{ url_for('feedback_form_redirect') }}">zpětnou vazbu</a>!
      </div>
      {% endif %}

        <div class="nav-container">
            <nav class="container">
                <ul>
                    <li class="home">
                        <a href="{{ url_for('index') }}">
                            Pyvo<span>.cz</span>
                        </a>
                    </li>
                </ul>
                {% block breadcrumbs %}{% endblock breadcrumbs %}
                {% if g.lang_code == 'cs' %}
                    <a class="lang_switch" href="{{ url_for_lang('en') }}">🌎 English, please!</a>
                {% else %}
                    <a class="lang_switch" href="{{ url_for_lang('cs') }}">🌍 Česky, prosím!</a>
                {% endif %}
            </nav>
        </div>
        {% block bodycontent %}
        {% endblock bodycontent %}
        <footer class="container">
            {% if g.lang_code == 'cs' %}
                <div>
                    Stránky spravuje občanské sdružení <a href="http://pyvec.org">Pyvec, o.s.</a>.
                    E-maily posílejte na <a href="mailto:info&#64;pyvec.org">info&#64;<!---->pyvec.org</a>, tweetujte na <a href="https://twitter.com/pyvec">@pyvec</a>.
                </div>
                <div>
                    Tyhle stránky jsou na <a href="http://github.com/pyvec/pyvo.cz">Github</a>u. <i>Pull requesty</i> vítány!
                </div>
                <div>
                    Hostováno u <a href="https://rosti.cz">Roští.cz</a>. Děkujeme!
                </div>
            {% else %}
                <div>
                    Managed by <a href="http://pyvec.org">pyvec.org</a>, a non-profit organization.
                    Send e-mails to <a href="mailto:info&#64;pyvec.org">info&#64;<!---->pyvec.org</a>, tweet to <a href="https://twitter.com/pyvec">@pyvec</a>.
                </div>
                <div>
                    Fork this site on <a href="http://github.com/pyvec/pyvo.cz">Github</a>. Pull requests welcome!
                </div>
                <div>
                    Hosted by our friends at <a href="https://rosti.cz">Roští.cz</a>. Thank you!
                </div>
            {% endif %}
        </div>
        {% block scripts %}{% endblock %}
    </body>

    <script>
        // Google Analytics
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-1316071-19', 'auto');
        ga('send', 'pageview');
    </script>
</html>
