{% macro venue_address(venue, show_map_link=False) %}
    {{venue.name}}{% if venue.address %},
        {{venue.short_address}}
    {% endif %}
    {% if show_map_link %}
        <a class="map-alt" href="{{venue | mapy_cz_url}}">→ {{ tr('mapa', 'map') }} (mapy.cz)</a>
    {% endif %}
{% endmacro %}

{% macro youtube_preview(youtube_id) %}
    {% if youtube_id %}
        <a class="youtube-link yt" href="//www.youtube.com/watch?v={{youtube_id}}">
            <img src="https://img.youtube.com/vi/{{youtube_id}}/hqdefault.jpg"
                width="30">
            <span class="overlay"></span>
        </a>
    {% else %}
        <span class="youtube-link no-yt">
            <span class="overlay"></span>
        </span>
    {% endif %}
{% endmacro %}

{% macro _calendar_day(day, is_nowork, is_today) %}
    {% if day['alien'] %}
        <td {% if is_nowork %}class="nowork"{% endif %}>&nbsp;</td>
    {% else %}
        <td class="
            {% if is_today %}today{% endif %}
            {% if is_nowork or (day['holiday']) %}nowork{% endif %}
            {% if day['events'] %}has-event{% endif %}
            {% if (day['events'] | length) > 1 %}
                multiple-events
            {% endif %}
            "
        >
            {% if day['events'] %}
                {% for event in day['events'] %}
                    <a href="{{ url_for('event', series_slug=event.series.slug,
                                        date_slug=event.slug) }}">
                        <img src="{{ url_for('static', filename='coatofarms/'+event.series.home_city.slug+'.svg') }}"
                            width="20"
                            alt="{{day['day'] | shortday}} – {{ event.title }}"
                            title="{{day['day'] | shortday}} – {{ event.title }}"
                        >
                    </a>
                {% endfor %}
            {% elif day['next_occurences'] %}
                {% set series = day['next_occurences'][0] %}
                <a href="{{ url_for('series', series_slug=series.slug,
                                    _anchor='future') }}">
                    <img src="{{ url_for('static', filename='coatofarms/'+series.home_city.slug+'-gray.svg') }}"
                        width="20"
                        alt="{{day['day'] | shortday}} – {{ tr('možný termín pro', 'possible date for') }} {{ series.name }}"
                        title="{{day['day'] | shortday}} – {{ tr('možný termín pro', 'possible date for') }} {{ series.name}}"
                        style="opacity:0.2;"
                    >
                </a>
            {% else %}
                {{ day['day'].day }}
            {% endif %}
        </td>
    {% endif %}
{% endmacro %}

{% macro calendar_month(year, month, weeks, today) %}
    <table>
        <caption>{{ month | monthname }}</caption>
        <tr>
            {% for day in range(7) %}
                <th {% if day >= 5 %}class="nowork"{% endif %}>{{ day | shortdayname }}</th>
            {% endfor %}
        </tr>
        {% for week in weeks %}
            {% if (week[0]['day'].year, week[0]['day'].month) <= (year, month) %}
                <tr>
                    {% for day in week %}
                        {{ _calendar_day(
                            day,
                            is_nowork=loop.index>5,
                            is_today=day['day'] == today,
                        ) }}
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endmacro %}

{% macro event_entry(event, is_header_event=False, add_venue_notes=False) %}
    {% set today = get_today() %}
    <div id="{{event.date}}" class="event-entry
        {% if event.date < today %}
            past
        {% elif event.date > today %}
            future
        {% else %}
            today
        {% endif %}
    ">
        <div class="event-common">
            <div class="event-head">
                <a href="#{{event.date}}">
                    <time datetime="{{event.start}}">
                        <span class="date">{{event.start | shortday}}</span>
                        <span class="year">{{event.start.year}}</span> · <span class="time">{{event.start.strftime('%H:%M')}}</span>
                    </time>
                </a>
                <em>{{ event | event_link}}</em>

                {% if event.venue %}
                    <div class="address">
                        {{ venue_address(event.venue, show_map_link=is_header_event) }}
                    </div>
                {% endif %}
            </div>

            {% if event.description %}
                <div class="description">
                    {{ event.description | markdown }}
                </div>
            {% endif %}
        </div>

        {% if event.talks %}
            <ul class="talks">
                {% for talk in event.talks %}
                    <li>
                        {% include "fragments/talk.html" %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if add_venue_notes and (event.venue.notes is defined) and event.venue.notes %}
            <div class="venue-notes">
                <h3>Místo</h3>
                <div class="address">
                    {{ venue_address(event.venue, show_map_link=is_header_event) }}
                </div>

                {{ event.venue.notes | markdown }}
            </div>
        {% endif %}
    </div>
{% endmacro %}
