<html>
    <head>
        <title>{% block title %}Pyvo – Pravidelné programátorské srazy{% endblock title %}</title>
        {% block styles %}
            <link rel="stylesheet" href="{{ url_for('static', filename='third-party/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% endblock styles %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <nav class="container">
            {% if g.lang_code == 'cs' %}
                <a class="lang_switch" href="{{ url_for_lang('en') }}">🌎 English, please!</a>
            {% else %}
                <a class="lang_switch" href="{{ url_for_lang('cs') }}">🌍 Česky, prosím!</a>
            {% endif %}
        </nav>
        {% block bodycontent %}
        {% endblock bodycontent %}
        <footer class="container">
            <div>
                Managed by <a href="http://pyvec.org">pyvec.org</a>, a non-profit organization.
                Send e-mails to <a href="mailto:info&#64;pyvec.org">info&#64;<!---->pyvec.org</a>, tweet to <a href="https://twitter.com/pyvec">@pyvec</a>.
            </div>
            <div>
                Fork this site on <a href="http://github.com/pyvec/pyvo.cz">Github</a>. Pull requests welcome!
            </div>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>
