<html>
    <head>
        <title>{% block title %}Pyvo – Pravidelné programátorské srazy{% endblock title %}</title>
        {% block styles %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% endblock styles %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <div class="_content">
            {% block bodycontent %}
            {% endblock bodycontent %}
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>
