{% extends "base.html" %}
{% block title %}Pyvo {{ city.name }}{% endblock title %}

{% block bodyclass %}citypage{% endblock %}

{% block bodycontent %}
<div class="container">
    <h1>{{ self.title() }}</h1>

    {% block plan %}{% endblock plan %}
</div>

{% set event = city.events[0] %}

<div class="map-container">
<div id="map" class="container" style="height: 350px"
    data-src="{{ url_for('api_venue_geojson', venueslug=event.venue.slug) }}"
    data-zoom="14"
    data-lat="{{event.venue.latitude}}"
    data-lng="{{event.venue.longitude}}"
>
</div>
</div>

<div class="container">

    {% if event.date < today %}
         <h2>Poslední sraz</h2>
    {% else %}
         <h2>Nadcházející sraz</h2>
    {% endif %}

    {% set is_header_event = True %}
    {% include "fragments/event.html" %}
    {% set is_header_event = False %}

    {% block contact %}{% endblock contact %}

    <h2>Informace pro přednášející</h2>
    <ul id="info-for-speakers">
    {% block info_for_speakers %}
            <li>
                Chceš-li na Pyvu <em>něco říct</em>,
                ať už teď nebo v budoucnosti,
                na deset minut nebo hodinu, k tématu nebo ne,
                ozvi se organizátorům a domluvíme se.
            </li>
            <li>
                Občas přijde zahraniční návštěva.
                Je dobré mít slajdy nebo přednášku <em>v angličtině</em>.
            </li>
            <li>
                Podporujeme "<em>lightning talks</em>":
                Kdokoliv může bez přihlášení předem říct v pěti minutách
                o jakémkoliv tématu.
            </li>
            <li>
                Přednášky většinou <em>nahráváme</em> a zveřejňujeme.
                Jestli záznam nechceš, dej vědět na místě organizátorům.
            </li>
            <li>
                Standardní přednáška by se měla vejít <em>do dvaceti minut</em>.
                Scházíme se večer po práci u piva,
                chceme slyšet spíš zajímavosti než detaily.
            </li>
        <!-- XXX
            <li>Pyva se snaží být vlídným a přátelským prostředím. Přečti si naše <a href="">pravidla chování</a>.</li>
        -->
    {% endblock info_for_speakers %}
    </ul>

    <h2>Historie srazů</h2>
    <ul>
        {% for event in city.events[1:] %}
            <li>
                {% include "fragments/event.html" %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock bodycontent %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
{% endblock styles %}

{% block scripts %}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="{{ url_for('static', filename='maps.js') }}"></script>
{% endblock %}
