{% extends "base.html" %}
{% block title %}Pyvo {{ city.name }}{% endblock title %}

{% block bodycontent %}
<div class="container">
    <h1>{{ self.title() }}</h1>

    {% block plan %}{% endblock plan %}

    {% set event = city.events[0] %}
    {% if event.date < today %}
         <h2>Poslední sraz</h2>
    {% else %}
         <h2>Nadcházející sraz</h2>
    {% endif %}

    {% set show_map = True %}
    {% include "fragments/event.html" %}
    {% set show_map = False %}

    {% block contact %}{% endblock contact %}

    {% block info_for_speakers %}
        <h2>Informace pro přednášející</h2>
        <ul>
            <li>
                Chceš-li na Pyvu <em>něco říct</em>,
                ať už teď nebo v budoucnosti,
                na deset minut nebo hodinu, k tématu nebo ne,
                ozvi se organizátorům a domluvíme se.
            </li>
            <li>
                Občas přijde zahraniční návštěva.
                Je dobré mít slajdy nebo přednášku <em>v angličtině</em>.
            </li>
            <li>
                Podporujeme "<em>lightning talks</em>":
                Kdokoliv může bez přihlášení předem říct v pěti minutách
                o jakémkoliv tématu.
            </li>
            <li>
                Přednášky většinou <em>nahráváme</em> a zveřejňujeme.
                Jestli záznam nechceš, dej vědět na místě organizátorům.
            </li>
            <li>
                Přednášky by se měly vejít <em>do dvaceti minut</em>.
                Scházíme se večer po práci u piva,
                chceme slyšet spíš zajímavosti než detaily.
            </li>
        </ul>
    {% endblock info_for_speakers %}

    <h2>Historie srazů</h2>
    <ul>
        {% for event in city.events[1:] %}
            <li>
                {% include "fragments/event.html" %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock bodycontent %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
{% endblock styles %}

{% block scripts %}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="{{ url_for('static', filename='maps.js') }}"></script>
{% endblock %}
