<html>
    <head>
        <title>Pyvo – Pravidelné programátorské srazy</title>
    </head>
    <body>
        <h1>Pyvo</h1>
        <h3>Co očekávat na Pyvu?</h3>
        <ul>
            <li>Srazy jsou většinou velice neformální a konají se v nějakém restauračním zařízení. Nejdřív jsou přednášky, pak volná zábava.</li>
            <li>I když nebudeš některým přednáškám rozumět, poznáš alespoň spoustu lidí, kteří ti mohou v budoucnu pomoci a z nichž se jednou mohou vyklubat noví kamarádi.</li>
            <li>Většinou se předem vybere nějaké téma a účastníci pak dobrovolně přihlašují související přednášky.</li>
            <li>Je úplně v pořádku přijít na Pyvo a bez ohlášení na konci přidat pětiminutovou přednášku (“lightning talk”) o čemkoliv.</li>
            <!-- XXX
                <li>Pyva se snaží být vlídným a přátelským prostředím. Přečti si naše <a href="">pravidla chování</a>.</li>
            -->
        </ul>
    </body>
</html>
