{% extends "_base.html" %}
{% from "_macros.html" import calendar_month %}

{% block title %}
    {% if g.lang_code == 'cs' %}
        Pyvo – Pravidelné programátorské srazy
    {% else %}
        Pyvo – Czech Python Meetups
    {% endif %}
{% endblock title %}

{% block bodyclass %}homepage{% endblock %}

{% block bodycontent %}
<div class="container">
    <div id="header">
        <img src="{{ url_for('static', filename="images/krygl.png") }}" width="200">
        <h1>Pyvo</h1>
        {% if g.lang_code == 'cs' %}
            <div>
                Pyva jsou setkání příznivců programovacího jazyka <a href="http://python.cz">Python</a>
                a spřízněných technologií.
                Pravidelně jsou pořádána ve městech po celé republice.
            </div>
        {% else %}
            <div>
                Pyvo is a meetup for fans of the <a href="http://python.cz">Python</a> programming language
                and related technologies.
                These meetups are held in several cities across the country.
            </div>
        {% endif %}
    </div>

    <div id="map">
        <div class="map">
            <img src="{{ url_for('static', filename='images/czech_republic.svg') }}" alt="">
            <ul>
            {% for event in featured_events %}
                <li class="map-city map-city-{{event.series.home_city_slug}}
                    {% if event.date == today %}
                        today
                    {% elif event.date < today %}
                        past
                    {% else %}
                        future
                    {% endif %}
                    "
                >
                    <a href="{{ url_for('series', series_slug=event.series.slug) }}">
                        {% if event.date == today and event.start_time %}
                            <div class="date"><time datetime="{{event.date}}">{{ event.start_time.strftime('%H:%M') }}</time></div>
                        {% else %}
                            <div class="date"><time datetime="{{event.date}}">{{event.date | shortday}}</time></div>
                        {% endif %}
                        <img src="{{ url_for('static', filename='coatofarms/'+event.series.home_city_slug+'.svg') }}"
                             width="30"
                             alt=""
                             title="{{event.date | shortday}} – {{event.title}}"
                        >
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div id="events">
        <h2>{{ tr('Kdy a kde?', 'When & Where?') }}</h2>
        {% if (featured_events | length) % 3 == 0 %}
            {# prefer 3 columns #}
            {% set num_columns = 3 %}
        {% elif (featured_events | length) % 2 == 0 %}
            {# 2 columns is OK #}
            {% set num_columns = 2 %}
        {% else %}
            {# if neither is possible, use 2 (with padding, see below) #}
            {% set num_columns = 2 %}
        {% endif %}
        <div class="events-display columns-{{ num_columns }}">
            {% for event in featured_events %}
                <div class="event">
                    <div class="event-inner">
                        <h3>
                            <a href="{{ url_for('series', series_slug=event.series.slug) }}">
                                <img src="{{ url_for('static', filename='coatofarms/'+event.series.home_city_slug+'.svg') }}" width="50">
                                {{event.series.name}}
                            </a>
                        </h3>
                        <div>
                            {% if event.date == today %}
                                {% if g.lang_code == 'cs' %}
                                    <em>Dnes</em>
                                    v <time datetime="{{event.date}}">{{event.start_time.hour}}:{{'%02d' | format(event.start_time.minute)}}</time> je
                                {% else %}
                                    <em>Today</em>
                                    at <time datetime="{{event.date}}">{{event.start_time.hour}}:{{'%02d' | format(event.start_time.minute)}}</time>:
                                {% endif %}
                            {% else %}
                                {{ tr('', 'On') }}
                                <em><time datetime="{{event.date}}">{{event.date | shortday}}</time></em>
                                {% if event.date < today %}
                                    {{ tr('bylo', 'was') }}
                                {% else %}
                                    {{ tr('bude', 'will be') }}
                                {% endif %}
                            {% endif %}
                            <em class="title">{{ event | event_link }}</em>
                        </div>
                        <span>
                            {% if event.venue %}
                                {{event.venue.name}}{% if event.venue.address %},
                                    {{event.venue.short_address}}
                                {% endif %}
                            {% endif %}
                        </span>
                    </div>
                </div>
            {% endfor %}
            {% if (featured_events | length) % num_columns != 0 %}
                {# padding in case events don't fit in columns #}
                <div class="event">
                    <div class="event-inner">
                        <h3>
                            <img src="{{ url_for('static', filename='coatofarms/unknown.svg') }}" width="50">
                            {{ tr('A další…?', 'And more…?') }}
                        </h3>
                        {% if g.lang_code == 'cs' %}
                            Chybí ti tu tvoje město?
                            Přijď na návštěvu na některé zavedené Pyvo, a pak
                            <a href="http://pyvec-guide.readthedocs.io/guides/meetup.html">založ</a>
                            sraz i u vás!
                        {% else %}
                            Is your city missing?
                            Come to another Pyvo to check out how meetups work,
                            then organize your own!
                            <br>
                            If you read Czech, check out our <a href="http://pyvec-guide.readthedocs.io/guides/meetup.html">documentation</a> on how to do it.
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div>
            {% if past_events %}
                <ul>
                    {% for event in past_events %}
                        <li>
                            <a href="{{ url_for('series', series_slug=event.series.slug) }}">
                                {{ event.series.name }}
                            </a>
                            {{ tr('bylo naposledy', 'last took place') }}
                            <a href="{{ event | event_url }}">
                                <time datetime="{{event.date}}">{{event.date | longdate}}</time>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="muted" style="opacity:0.4;">
            {% if g.lang_code == 'cs' %}
                Děkujeme městům Plzeň, Olomouc a Brno, která nám
                <a href="https://github.com/pyvec/pyvo.cz/issues/70">dala souhlas</a>
                s použitím městských znaků!
            {% else %}
                Thank you to the cities of Plzeň, Olomouc and Brno, whose councils
                <a href="https://github.com/pyvec/pyvo.cz/issues/70">agreed</a>
                to let us use their coats of arms!
            {% endif %}
        </div>
    </div>

    <div class="calendar" id="calendar">
        <div class="calendar">
            <h2>
                <a href="{{ url_for('calendar') }}">
                    {{ tr('Kalendář', 'Calendar') }}
                </a>
            </h2>
            <div class="row">
                {% for (year, month), weeks in calendar.items() %}
                    <div class="col-md-4 col">
                        {{ calendar_month(year, month, weeks, today=today) }}
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="export-links col-lg-12">
                    {{ tr('Přidej si pyvní kalendář:', 'Add the Pyvo calendar:') }}
                    <ul>
                        <li><a href="{{ url_for('api_feed', feed_type='ics') }}">iCal</a></li>
                        <li><a href="{{ url_for('api_feed', feed_type='rss') }}">RSS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="about">
        <h2>{{ tr('Co očekávat na Pyvu?', 'What to Expect') }}</h2>
        <ul class="big-points">
            <li>
                <img src="{{ url_for('static', filename='images/talk.svg') }}" alt=""></span>
                <p>
                    {% if g.lang_code == 'cs' %}
                        Srazy jsou většinou velice <em>neformální</em> a konají se v nějakém restauračním zařízení.
                        Nejdřív jsou přednášky, pak volná zábava.
                    {% else %}
                        “Pivo” means “beer” in Czech.
                        The meetups are quite <em>informal</em>, and they're held in pubs.
                        First there are some talks and presentations, then we mingle.
                    {% endif %}
                <p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/pyvo-people.svg') }}" alt=""></span>
                <p>
                    {% if g.lang_code == 'cs' %}
                        I když nebudeš některým přednáškám rozumět, poznáš alespoň
                        <em>spoustu lidí</em>, kteří ti mohou v budoucnu pomoci a z nichž se
                        jednou mohou vyklubat noví kamarádi.
                    {% else %}
                        Meetups are in Czech language by default, because most of Czechs are
                        still uncomfortable to speak in English publicly.
                        It's OK for you to speak and present in English, though: most people <em>understand</em>.
                        Many people will be also very happy to have English discussions over a beer with you.
                    {% endif %}
                </p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/org-announcing-topic.svg') }}" alt=""></span>
                <p>
                    {% if g.lang_code == 'cs' %}
                        Většinou se předem vybere nějaké <em>téma</em> a účastníci pak dobrovolně
                        přihlašují související přednášky.
                    {% else %}
                        Every event usually selects a <em>topic</em> in advance and people volunteer
                        to give talks on that topic.
                    {% endif %}
                </p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/lightning-talk.svg') }}" alt=""></span>
                <p>
                    {% if g.lang_code == 'cs' %}
                        Je úplně v pořádku přijít na Pyvo a bez ohlášení na konci přidat
                        pětiminutovou přednášku („<em>lightning talk</em>”) o čemkoliv.
                    {% else %}
                        It's encouraged to come to Pyvo and give a <em>lightning talk</em> – a
                        five-minute presentation about anything at all – after the “main” talks.
                    {% endif %}
                <p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/food.svg') }}" alt=""></span>
                <p>
                    {% if g.lang_code == 'cs' %}
                        Typicky se na srazu dá dobře <em>povečeřet</em>, a tím nejen naplnit žaludek,
                        ale i podpořit hospůdku ve které se Pyvo koná.
                    {% else %}
                        Usually, you can have <em>dinner</em> at the meetup.
                        Not only does this stop hunger, it also supports the restaurant that hosts the meetup.
                    {% endif %}
                <p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/learning-python.svg') }}" alt=""></span>
                <p>
                    {% if g.lang_code == 'cs' %}
                        Když se předem domluvíš, můžeš si na Pyvu vyzvednou některou z knih z naší komunitní
                         <a href="https://books.pyvo.cz">knihovničky</a>.
                    {% else %}
                        If you arrange it in advance, you can pick up a book from our <a href="https://books.pyvo.cz">community library</a> at Pyvo.
                    {% endif %}
                <p>
            </li>
            <!--
            <li>
                <img src="{{ url_for('static', filename='images/heart.png') }}" alt=""></span>
                <p>
                    {% if g.lang_code == 'cs' %}
                        Pyva se snaží být vlídným a přátelským prostředím. Přečti si naše <a href="{ { url_for('coc') } }">pravidla chování</a>.
                    {% else %}
                        Pyvo is a friendly and welcoming meetup. Please read our <a href="{ { url_for('coc') } }">code of conduct</a>.
                    {% endif %}
                <p>
            </li>
            -->
        </ul>
    </div>

    <div id="videos">
        <h2>{{ tr('Videa ze srazů', 'Video Recordings') }}</h2>
        <ul class="video-gallery">
            {% for link in videos %}
                <li>
                    <a href="https://www.youtube.com/watch?v={{ link.youtube_id }}">
                        <div class="image-holder">
                            <img src="//img.youtube.com/vi/{{ link.youtube_id }}/hqdefault.jpg">
                        </div>
                        <p>
                            <div class="speakers">
                                {% for speaker in link.talk.speakers %}
                                    <span class="speaker">{{ speaker.name }}</span>{% if not loop.last %},{% endif %}
                                {% endfor %}
                            </div>
                            <div class="title">
                                {% if link.talk.is_lightning %}<span class="lightning">⚡</span>{% endif %}
                                {{ link.talk.title }}
                            </div>
                            {% set date = link.talk.event.date %}
                            <div class="info">
                                <time datetime="{{date}}">{{ date | longdate }}</time>, {{ link.talk.event.series.name }}
                            </div>
                        </p>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <ul>
            <li><a href="https://www.youtube.com/channel/UCaT4I7hjX9iH1YFvNvuu84A/videos">{{ tr('Videa z Pyva', 'Videos from Pyvo') }}</a></li>
            <li><a href="https://www.youtube.com/user/pyvec/videos">{{ tr('Starší videa z Prahy', 'Older videos from Prague') }}</a></li>
            <li><a href="https://www.youtube.com/channel/UCzE1AyBbdp8_fbDvnrW5GgA/videos">{{ tr('Starší videa z Brna', 'Older videos from Brno') }}</a></li>
            <li><a href="https://www.youtube.com/channel/UCXAJzEDUm-eO0KP8YEaKW8w/videos">{{ tr('Starší videa z Ostravy', 'Older videos from Ostrava') }}</a></li>
        </ul>
    </div>

    <div id="info-for-speakers">
        <h2>{{ tr('Informace pro přednášející', 'Info for Speakers') }}</h2>
        <ul class="big-points">
        {% block info_for_speakers %}
                <li>
                    <img src="{{ url_for('static', filename='images/org-announcing-topic.svg') }}" alt=""></span>
                    <p>
                    {% if g.lang_code == 'cs' %}
                        Chceš-li na Pyvu <em>něco říct</em>,
                        ať už teď nebo v budoucnosti,
                        na deset minut nebo hodinu, k tématu nebo ne,
                        ozvi se organizátorům a domluvíme se.
                        Kontakty jsou na stránce každého Pyva:
                    {% else %}
                        If you'd like to <em>speak</em>,
                        now or in the future, for 10 minutes or an hour,
                        on-topic or off, get in touch with the organizers!
                        Look for contact information on the pages of
                        individual Pyvos:
                    {% endif %}
                    {% for event in featured_events | sort(attribute='name') %}
                    <a href="{{url_for('series',
                                        series_slug=event.series.slug,
                                        _anchor='organizer-contacts')}}">
                        {{ event.series.home_city.name }}</a>{%if loop.last %}.{% else %},{% endif %}
                    {% endfor %}
                    <p>
                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/talk-language.svg') }}" alt=""></span>
                    <p>
                    {% if g.lang_code == 'cs' %}
                        Občas přijde zahraniční návštěva.
                        Je dobré mít slajdy (nebo i celou přednášku) <em>v angličtině</em>.
                    {% else %}
                        Almost all programmers understand English, and most can even speak it.
                        If you can read this text, language shouldn't be a problem!
                    {% endif %}
                    <p>
                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/talk-20-min.svg') }}" alt=""></span>
                    <p>
                    {% if g.lang_code == 'cs' %}
                        Standardní přednáška by se měla vejít <em>do dvaceti minut</em>.
                        Scházíme se večer po práci u piva,
                        chceme slyšet spíš zajímavosti než detaily.
                    {% else %}
                        A normal talk should be up to <em>twenty minutes</em>.
                        We get together after work for a couple of beers;
                        we want to hear a bit of interesting stuff rather than all the details.
                    {% endif %}
                    <p>
                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/video-recording.svg') }}" alt=""></span>
                    <p>
                    {% if g.lang_code == 'cs' %}
                        Přednášky většinou <em>nahráváme</em> a zveřejňujeme.
                        Jestli záznam nechceš, dej vědět na místě organizátorům.
                    {% else %}
                        We usually <em>record</em> talks, and put videos online.
                        If you don't want a recording, let the camera operator know.
                    {% endif %}
                    <p>
                </li>
        {% endblock info_for_speakers %}
        </ul>
    </div>

    <div id="friends">
        <h2>{{ tr('Kamarádi', 'Friends') }}</h2>
        <ul>
            <li>
                <a href="https://pyworking.cz/">PyWorking</a> –
                {% if g.lang_code == 'cs' %}
                    „Hands-on“ setkání a workshopy
                {% else %}
                    „Hands-on“ meetups and workshops
                {% endif %}
            </li>
            <li>
                <a href="https://cz.pycon.org/">PyCon CZ</a> –
                {% if g.lang_code == 'cs' %}
                    Česká konference o Pythonu
                {% else %}
                    Czech Python conference
                {% endif %}
            </li>
            <li>
                <a href="https://www.meetup.com/pyconsk/">Bratislava Python Meetup</a> –
                {% if g.lang_code == 'cs' %}
                    Slovenské konference a srazy
                {% else %}
                    Slovak Python user group
                {% endif %}
            </li>
            <li>
                <a href="https://pycon.sk/">PyCon SK</a> –
                {% if g.lang_code == 'cs' %}
                    Slovenská konference o Pythonu
                {% else %}
                    Slovak Python conference
                {% endif %}
            </li>
            <li>
                <a href="https://pl.pycon.org/">PyCon PL</a> –
                {% if g.lang_code == 'cs' %}
                    Polská konference o Pythonu
                {% else %}
                    Polish Python conference
                {% endif %}
            </li>
            <li>
                <a href="https://py.amsterdam">py.amsterdam</a> –
                {% if g.lang_code == 'cs' %}
                    Srazy v Amsterdamu
                {% else %}
                    Meetups in Amsterdam
                {% endif %}
            </li>
            <li>
                <a href="http://blog.pykonik.org/">Pykonik</a> –
                {% if g.lang_code == 'cs' %}
                    Srazy Pythonistů z Krakówa
                {% else %}
                    Kraków Python meetups
                {% endif %}
            </li>
            <li>
                {% if g.lang_code == 'cs' %}
                    <a href="http://rubyslava.sk/">Rubyslava</a> – Bratislavské združenie priateľov elegantného programovania všeho druhu
                {% else %}
                    <a href="http://rubyslava.sk/english.html">Rubyslava</a> – Language-agnostic meetups in Bratislava
                {% endif %}
            </li>
            <li>
                <a href="http://www.meetup.com/vienna-rb/">vienna.rb</a> –
                {% if g.lang_code == 'cs' %}
                    Vídeňský sraz kolem jazyka Ruby
                {% else %}
                    Viennese Ruby meetups
                {% endif %}
            </li>
            <li>
                <a href="http://www.meetup.com/Praguerb/">Prague.rb</a> –
                {% if g.lang_code == 'cs' %}
                    Pražské Ruby srazy
                {% else %}
                    Ruby meetups in Prague
                {% endif %}
            </li>
            <li>
                <a href="https://pehapkari.cz/">Péhápkáři</a> –
                {% if g.lang_code == 'cs' %}
                    České PHP srazy
                {% else %}
                    Czech PHP meetups
                {% endif %}
            </li>
        </ul>
    </div>
</div>
{% endblock bodycontent %}
