{% extends "city.html" %}
{% block title %}Brněnské Pyvo{% endblock title %}

{% block plan %}
    <div class="plan">
        <p>
            Brněnské Pyvo bývá každý poslední čtvrtek v měsíci.
            Srazy jsou spojené s BRUG – Brno Ruby User Group, komunitou kolem <a href="https://www.ruby-lang.org">Ruby</a>.
        </p>
    </div>
{% endblock plan %}

{% block contact %}
<div class="container">
    <h2>Kontakt na organizátory</h2>
    <ul id="contacts" class="contacts">
        <li>
            <em>Petr Viktorin</em>
            <dl>
                <dt>Telefon</dt><dd>77-ENCUKOU</dd>
                <dt>E-mail</dt><dd>{{ 'encukou@gmail.com' | mail_link }}</dd>
            </dl>
        </li>
        <li>
            <em>Honza Javorek</em>
            <dl>
                <dt>E-mail</dt><dd>{{ 'mail@honzajavorek.cz' | mail_link }}</dd>
            </dl>
        </li>
    </ul>
</div>
{% endblock contact %}
