{% extends "city.html" %}
{% block title %}{{ tr('Brněnské Pyvo', 'Brno Pyvo') }}{% endblock title %}

{% block cityinfo %}
    <div class="plan">
        <p>
            {% if g.lang_code == 'cs' %}
                Brněnské Pyvo bývá každý poslední čtvrtek v měsíci.
                Některé srazy jsou spojené s BRUG – Brno Ruby User Group, komunitou kolem <a href="https://www.ruby-lang.org">Ruby</a>.
            {% else %}
                Pyvo Brno is traditionally held on the last Thursday of each month.
                Our friends from BRUG, the Brno <a href="https://www.ruby-lang.org">Ruby</a> User Group, sometimes join us for a common meetup.
            {% endif %}
        </p>
    </div>
{% endblock cityinfo %}

{% block contact %}
<div id="organizer-contacts">
    <h2>{{ tr('Kontakt na organizátory', 'Organizer Contact Info') }}</h2>
    <ul id="contacts" class="contacts">
        <li>
            <em>Petr Viktorin</em>
            <dl>
                <dt>{{ tr('Telefon', 'Phone') }}</dt><dd>77-ENCUKOU</dd>
                <dt>E-mail</dt><dd>{{ 'encukou@gmail.com' | mail_link }}</dd>
            </dl>
        </li>
        <li>
            <em>Honza Javorek</em>
            <dl>
                <dt>E-mail</dt><dd>{{ 'mail@honzajavorek.cz' | mail_link }}</dd>
            </dl>
        </li>
    </ul>
</div>
{% endblock contact %}
