{% extends "city.html" %}
{% block title %}{{ tr('Ostravské Pyvo', 'Ostrava Pyvo') }}{% endblock title %}

{% block cityinfo %}
    <div class="plan">
        <p>
            {% if g.lang_code == 'cs' %}
                Ostravské Pyvo bývá každou první středu v měsíci.
                Srazy jsou spojené s <a href="http://rubaci.cz/">Rubači</a> – ostravskými Rubysty.
            {% else %}
                Ostrava Pyvo is traditionally held on the first Wednesday of each month.
                Our friends from <a href="http://rubaci.cz/">Rubači</a>, a Ruby user group, usually join us for a common meetup.
            {% endif %}
        </p>
    </div>
{% endblock cityinfo %}

{% block contact %}
<div id="organizer-contacts">
    <h2>{{ tr('Kontakt na organizátory', 'Organizer Contact Info') }}</h2>
    <ul id="contacts" class="contacts">
        <li>
            <em>Google group</em>
            <dl>
                <dt>Web</dt><dd><a href="https://groups.google.com/forum/#!forum/ostrava-pyvo" target="_blank">Ostrava - Pyvo</a></dd>
                <dt>E-mail</dt><dd>{{ 'ostrava-pyvo@googlegroups.com' | mail_link }}</dd>
            </dl>
        </li>
        <li>
            <em>Lumír Balhar</em>
            <dl>
                <dt>{{ tr('Telefon', 'Phone') }}</dt><dd>732689768</dd>
                <dt>E-mail</dt><dd>{{ 'frenzy.madness@gmail.com' | mail_link }}</dd>
            </dl>
        </li>
        <li>
            <em>Ladislav Krčmárik</em>
            <dl>
                <dt>{{ tr('Telefon', 'Phone') }}</dt><dd>604112390</dd>
                <dt>E-mail</dt><dd>{{ 'krcmarik@avocado.cz' | mail_link }}</dd>
            </dl>
        </li>
    </ul>
</div>
{% endblock contact %}
