{% extends "city.html" %}
{% block title %}{{ tr('Ostravské Pyvo', 'Ostrava Pyvo') }}{% endblock title %}

{% block cityinfo %}
    <div class="plan">
        <p>
            {% if g.lang_code == 'cs' %}
                Ostravské Pyvo bývá každou první středu v měsíci.
                Srazy jsou spojené s <a href="http://rubaci.cz/">Rubači</a> – ostravskými Rubysty.
            {% else %}
                Ostrava Pyvo is traditionally held on the first Wednesday of each month.
                Our friends from <a href="http://rubaci.cz/">Rubači</a>, a Ruby user group, usually join us for a common meetup.
            {% endif %}
        </p>
    </div>
{% endblock cityinfo %}
