{% extends "city.html" %}
{% block title %}Pražské Pyvo{% endblock title %}

{% block plan %}
    <div class="plan">
        <p>
            Pražské Pyvo bývá každou třetí středu v měsíci.
        </p>
        <p class="plan">
            Scházíme se v soukromém klubu Na Věnečku, takže nikde není žádná (napr pivní) cedule.
            Nechceš-li bloudit, potkáme se v 18:30 před prodejnou Apple na Andělu.
        </p>
        <p class="plan">
            Pro samostatné a nestíhače: Kdyz se Ostrovského ulice změní na chodník,
            jděte cca 50m do kopce. Po pravé straně narazíte na poměrně velkou bránu do dvora.
        </p>
    </div>
{% endblock plan %}
