{% extends "city.html" %}
{% block title %}{{ tr('Pražské Pyvo', 'Prague Pyvo') }}{% endblock title %}

{% block cityinfo %}
    <div class="plan">
        {% if g.lang_code == 'cs' %}
            <p>
                Pražské Pyvo bývá každou třetí středu v měsíci.
            </p>
            <p class="plan">
                Scházíme se v soukromém klubu Na Věnečku, takže nikde není žádná (napr pivní) cedule.
                Nechceš-li bloudit, přijď na sraz v 18:30 před Equa Bank (dříve iStyle) na Andělu, odkud tě organizátoři zavedou na místo.
            </p>
            <p class="plan">
                Pro samostatné a nestíhače: Kdyz se Ostrovského ulice změní na chodník,
                jděte cca 50m do kopce. Po pravé straně narazíte na poměrně velkou bránu do dvora.
            </p>
        {% else %}
            <p>
                Prague Pyvo is traditionally held on the third Wednesday of each month.
            </p>
            <p class="plan">
                We meet in the private club <i>Na Věnečku</i>. There is no sign indicating a restaurant.
                You can meet the organizers at 18:30 in fromt of the iStyle shop at Anděl
                <a href="http://mapy.cz/zakladni?x=14.4042537&y=50.0705995&z=17&source=firm&id=2195802">(map)</a>
                and go to the meetup together.
            </p>
            <p class="plan">
                For self-sufficient people and late-comers: Follow the Ostrovského street all the way up,
                about 50m past the "no cars" sign. The meetup is through a gate to your right.
            </p>
        {% endif %}
    </div>
{% endblock cityinfo %}
