<table>
    <caption>{{ calendar[1][-1][0].month | monthname }}</caption>
    <tr>
        {% for day in range(7) %}
            <th {% if day >= 5 %}class="nowork"{% endif %}>{{ day | shortdayname }}</th>
        {% endfor %}
    </tr>
    {% for row in calendar %}
        <tr>
            {% for date, event in row %}
                {% if date %}
                    <td class="
                        {% if date == today %}today{% endif %}
                        {% if loop.index > 5 or (date in holidays) %}nowork{% endif %}
                        {% if event %}has-event{% endif %}
                        "
                    >
                        {% if event %}
                            <a href="{{ url_for('city', cityslug=event.city.slug) }}">
                                <img src="{{ url_for('static', filename='coatofarms/'+event.city.slug+'.svg') }}"
                                     width="20"
                                     alt="{{date.day}}. {{date.month}}. – {{ event.title }}"
                                     title="{{date.day}}. {{date.month}}. – {{ event.title }}"
                                >
                            </a>
                        {% else %}
                            {{ date.day }}
                        {% endif %}
                    </td>
                {% else %}
                    <td {% if loop.index > 5 %}class="nowork"{% endif %}>&nbsp;</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
