{% from "_macros.html" import venue_address %}

<div id="{{event.date}}" class="event-entry
    {% if event.date < today %}
        past
    {% elif event.date > today %}
        future
    {% else %}
        today
    {% endif %}
">
    <div class="event-common">
        <div class="event-head">
            <a href="#{{event.date}}">
                <time datetime="{{event.start}}">
                    <span class="date">{{event.start | shortday}}</span>
                    <span class="year">{{event.start.year}}</span> · <span class="time">{{event.start.strftime('%H:%M')}}</span>
                </time>
            </a>
            <em>{{ event | event_link}}</em>

            <div class="address">
                {{ venue_address(event.venue, show_map_link=is_header_event) }}
            </div>
        </div>

        {% if event.description %}
            <div class="description">
                {{event.description | nl2br}}
            </div>
        {% endif %}
    </div>

    {% if event.talks %}
        <ul class="talks">
            {% for talk in event.talks %}
                <li>
                    {% include "fragments/talk.html" %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
