<div class="talk-entry
    {% if talk.is_lightning %}lightning{% endif %}
">

    {% if talk.youtube_id %}
        <a class="youtube-link yt" href="http://www.youtube.com/watch?v={{talk.youtube_id}}">
            <img src="http://img.youtube.com/vi/{{talk.youtube_id}}/hqdefault.jpg" width="20">
            <span class="overlay"></span>
        </a>
    {% else %}
        <span class="youtube-link no-yt">
            <span class="overlay"></span>
        </span>
    {% endif %}

    <div class="head">
        <em class="talk-title">{{talk.title}}</em>
        <ul class="speakers">
            {% for speaker in talk.speakers %}
                <li>{{speaker.name}}</li>
            {% endfor %}
        </ul>
        {% if talk.description %}
            <div class="talk-description">
                {{ talk.description | markdown }}
            </div>
        {% endif %}
    </div>

</div>
