{% from "_macros.html" import venue_address, youtube_preview %}

<div class="talk-entry
    {% if talk.is_lightning %}lightning{% endif %}
">
    {{ youtube_preview(talk.youtube_id) }}
    <div class="head">
        <em class="talk-title">{{talk.title}}</em>
        <ul class="speakers">
            {% for speaker in talk.speakers %}
                <li>{{speaker.name}}</li>
            {% endfor %}
        </ul>
        {% if talk.description %}
            <div class="talk-description">
                {{ talk.description | markdown }}
            </div>
        {% endif %}
    </div>

</div>
