@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Oxygen&subset=latin,latin-ext");

body {
    font-family: Oxygen, sans-serif;
    background-color: #CCC;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bree Serif", serif;
}

h2 {
    margin-top: 2em;
}

.container {
    background-color: #FFF;
}

body > ._content > .container:last-child {
    padding-bottom: 5em;
}

/******************** Homepage header ********************/

body.homepage #header {
    text-align: center;
    padding-bottom: 2em;
}

body.homepage #header h1 {
    margin-top: 0;
}

body.homepage #header img { width: 200px; }
@media(max-width: 768px) { body.homepage #header img { width: 100px; } }
@media(max-width: 480px) { body.homepage #header img { display: none; } }

/******************** Homepage events ********************/

body.homepage #events img {
    width: 3em;
    position: absolute;
    left: -3.75em;
    top: 0.3em;
}

body.homepage #events .event {
    position: relative;
    clear: left;
    margin-left: 7em;
    min-height: 6em;
}

body.homepage #events .event em.title {
    font-weight: bold;
    font-style: normal;
}

body.homepage #events .event em time {
    font-style: normal;
}

@media(max-width: 480px) {
    body.homepage #events img { display: none; }
    body.homepage #events .event { margin-left: 0; }
}

/******************** Map rows ********************/

body.homepage div.map-container { background-color: #8888FF; }
body.homepage div.map-container .container { background-color: blue; }

body.citypage div.map-container { background-color: #88AA88; }
body.citypage div.map-container .container { background-color: #CCCCCC; }

div.map {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 409px;
}

div.map ul {
    height: 0;
    margin: 0;
}

.map-alt { display: none; }
@media(max-width: 480px) {
    div.map { display: none; }
    div#map { display: none; }
    .map-alt { display: inline; }
    div.map-alt { display: block; }
}

div.map .map-city {
    display: none;
    position: absolute;
    width: 50px;
    text-align: center;
}

div.map .map-city .date {
    display: block;
    position: absolute;
    top: -1.2em;
    left: -6px;
    width: 60px;
    z-index: 0;
    font-family: "Bree Serif", serif;
}

div.map .map-city img {
    position: relative;
    z-index: 1;
    width: 40px;
}

div.map .map-city-praha {
    display: block;
    left: 115px;
    top: 75px;
}

div.map .map-city-brno {
    display: block;
    left: 250px;
    top: 160px;
}

div.map .map-city-ostrava {
    display: block;
    left: 330px;
    top: 100px;
}

div.map .map-city.past { opacity: 0.75; }
div.map .map-city.past a { color: white; }
div.map .map-city.today a { color: yellow; font-weight: bold; }
div.map .map-city.future a { color: white; }

/******************** Big points ********************/

.big-points {
    margin: 0;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.big-points li {
    list-style-type: none;
    flex: 0 0 30%;
    -webkit-flex: 0 0 30%;
}

.big-points li img {
    width: 80%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

@media(max-width: 768px) {
    .big-points {
        display: block;
    }
    .big-points li {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
    }
    .big-points li img {
        width: 8em;
        height: 4em;
        display: block;
        margin-left: 2em;
        margin-right: 1em;
        flex: 0;
        -webkit-flex: 0;
    }
    .big-points li {
        flex: 1;
        -webkit-flex: 1;
    }
}
@media(max-width: 480px) {
    .big-points li {
        display: block;
    }
    .big-points li img {
        width: 50px;
    }
}

/******************** Video gallery ********************/

.video-gallery {
    margin: 0;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

.video-gallery li {
    list-style-type: none;
    flex: 0 0 240px;
    -webkit-flex: 0 0 240px;
    margin: 1em;
    text-align: center;
}

.video-gallery .image-holder {
    width: 200px;
    height: 112px;
    overflow: hidden;
    background-color: #888;
    margin-left: auto;
    margin-right: auto;
}

.video-gallery .image-holder img {
    position: relative;
    top: -19px;
    width: 200px;
}

.video-gallery li a {
    text-decoration: none;
}

.video-gallery li a .speakers,
.video-gallery li a .lightning,
.video-gallery li a .info {
    color: black;
}

.video-gallery li a:hover .title {
    text-decoration: underline;
}

.video-gallery li .speaker:last-child::after {
    content: ":";
}

.video-gallery li .title {
    font-weight: bold;
}

@media(max-width: 768px) {
    .video-gallery {
        display: block;
    }
    .video-gallery li {
        display: block;
        margin-left: 7em;
        position: relative;
        text-align: left;
        min-height: 4.4em;
    }
    .video-gallery .image-holder {
        position: absolute;
        display: block;
        left: -7em;
        top: 0.35em;
        width: 6.5em;
        height: 3.65em;
    }
    .video-gallery .image-holder img {
        width: 6.5em;
        top: -0.55em;
    }
    .video-gallery li {
        flex: 1;
        -webkit-flex: 1;
    }
}

@media(max-width: 350px) {
    .video-gallery li {
        margin-left: 0;
    }
    .video-gallery .image-holder {
        display: block;
        position: relative;
        left: 0;
        top: 0;
        margin-left: 0;
    }
}


/******************** Organizer contacts ********************/

ul.contacts {
    margin: 0;
    padding: 0;
}

.contacts li {
    list-style-type: none;
}

.contacts em {
    font-size: 100%;
    font-weight: bold;
    font-style: normal;
}

.contacts dt {
    font-weight: normal;
    font-style: normal;
    display: inline;
}

.contacts dd {
    display: inline;
}

.contacts dd::before {
    content: ": ";
    display: inline;
}

.contacts dd::after {
    content: " ";
    height: 0;
    display: block;
}

/******************** Info for speakers ********************/

#about em,
#info-for-speakers em {
    font-weight: bold;
    font-style: normal;
}
